---
layout: master
---
	<main>
		<!--CONTENT-->
    <section class="au-body">
			<div class="container-fluid">
				<div class="row">
          <div class="col-sm-4 col-sm-push-8">
		<div class="metrics">
		  	<div class="action"><img src="assets/img/bump.png"> 63 <a href="#">BUMPS</a></div> 
			<div class="action" style="padding:8px 23px;"><img src="assets/img/bookmark.png"> <a href="#">BOOKMARK</a></div>
			<div class="action" style="padding-top:8px;"><img src="assets/img/flag.png"> <a href="#">FLAG AN ISSUE</a></div>
		  </div>
		  <div class="research-contact">	  
			<ul class="blog-metadata" style="float:right;">
		    <li style="color:#FA612A; border: 1px solid #FA612A;">In Progress</li>
		    </ul>
			     </ul>
		  <p><b>STATUS</b>
		    <p><b>Team:</b> Hackney Council<br>
		    <b>Updated:</b> 4 Oct 2018<br>
		    <b>Phase:</b> Create, test and demonstrate value</p>
		<ul class="blog-metadata">
		    <li>User Journey</li>
		    <li>Persona</li>
		    <li>Insights</li>
		    </ul>
            		<p><b><br>Key Contacts</b><br>Jess Callaghan<br>Policy Officer<br>Department of Customer Service<br><a href="Jess.Callaghan@finance.nsw.gov.au">Jess Callaghan@finance.nsw.gov.au</a></p>
            	</div>
				</div>
            <div class="col-sm-8 col-sm-pull-4" id="content">
  				
            {{ content }}

          </div>
				</div>
			</div>
		</section>
</main>
