---
layout: master
---
	<main>
		<!--CONTENT-->
    <section class="au-body">
			<div class="container-fluid">
				<div class="row">
          <div class="col-sm-4 col-sm-push-8">
		<div class="research-contact">	  
			<div style="width:100px" text-size:0.8em;"><img src="/assets/img/bump.png">63 <a href="#">BUMPS</a></div> <div style="width:100px" text-size:0.8em;">BOOKMARK</div><div style="width:100px" text-size:0.8em;"> FLAG</div>
			<ul class="blog-metadata" style="float:right;">
		    <li style="color:#FA612A; border: 1px solid #FA612A;">In Progress</li>
		    </ul>
			     </ul>
		  <p><b>STATUS</b>
		    <p><b>Team:</b> Team Name<br>
		    <b>Updated:</b> 4 Oct 2018<br>
		    <b>Phase:</b> Create, test and demonstrate value</p>
		<ul class="blog-metadata">
		    <li>User Journey</li>
		    <li>Persona</li>
		    <li>Insights</li>
		    </ul>
            		<p><b><br>Key Contacts</b><br>Jess Callaghan<br>Policy Officer<br>Department of Customer Service<br><a href="Jess.Callaghan@finance.nsw.gov.au">Jess Callaghan@finance.nsw.gov.au</a></p>
            	</div>
				</div>
            <div class="col-sm-8 col-sm-pull-4" id="content">
  				
            {{ content }}

          </div>
				</div>
			</div>
		</section>
</main>
