---
layout: master
---
	<main>
		<!--CONTENT-->
    <section class="au-body">
			<div class="container-fluid">
				<div class="row">
          <div class="col-sm-4 col-sm-push-8">
		<div class="research-contact">	  
		    <p>Status
			<ul class="blog-metadata">
		    <li>In Progress</li>
		    </ul>
			     </ul>
		    <p><b>Team:</b> Team Name<br>
		    <b>Updated:</b> 4 Oct 2018<br>
		    <b>Phase:</b> Alpha</p>
		<ul class="blog-metadata">
		    <li>Tag</li>
		    <li>Tag</li>
		    <li>Tag</li>
		    </ul>
            		<p><b>Key Contacts</b><br>Adam Taylor-Perkins<br>Policy Officer<br>Department of Finance Services & Innovation<br><a href="Adam.Taylor-Perkins@finance.nsw.gov.au">Adam.Taylor-Perkins@finance.nsw.gov.au</a></p>
            	</div>
				</div>
            <div class="col-sm-8 col-sm-pull-4" id="content">
  				
            {{ content }}

          </div>
				</div>
			</div>
		</section>
</main>
