---
layout: master
---
	<main>
		<!--CONTENT-->
    <section class="au-body">
			<div class="container-fluid">
				<div class="row">
          <div class="col-sm-8 col-sm-push-4">
                        {{ content }}
        </div>

            <div class="col-sm-4 col-sm-pull-8" id="content">
  						
		    <h2>Search Projects</h2>
		<div class="form_padding">		    
			<label for="text-input-block">Search keyword</label>
			<input class="au-text-input au-text-input--block" name="text-input-block" id="text-input-block" type="text" value="value">
		</div>	
		<div class="form_padding">	
				<label for="select1">Phase</label>
				<select id="select1" class="au-select">
				  <option value="">Please select</option>
				  <option value="1">Option 1</option>
				  <option value="2">Option 2</option>
				  <option value="3">Option 3</option>
				</select>
		</div>
		<div class="form_padding">	
				<label for="select1">Document Type</label>
				<select id="select1" class="au-select">
				  <option value="">Please select</option>
				  <option value="1">Option 1</option>
				  <option value="2">Option 2</option>
				  <option value="3">Option 3</option>
				</select>
		</div>
		<div class="form_padding">	
				<label for="select1">Department</label>
				<select id="select1" class="au-select">
				  <option value="">Please select</option>
				  <option value="1">Option 1</option>
				  <option value="2">Option 2</option>
				  <option value="3">Option 3</option>
				</select>
		</div>
		<div class="form_padding">	
				<label for="select1">Date</label>
				<select id="select1" class="au-select">
				  <option value="">Please select</option>
				  <option value="1">Option 1</option>
				  <option value="2">Option 2</option>
				  <option value="3">Option 3</option>
				</select>
		</div>
		<div class="form_padding">	
				<label class="au-control-input">
  <input class="au-control-input__input" type="checkbox" name="checkbox-ex" checked>
  <span class="au-control-input__text">Only completed projects</span>
</label>
		</div>
		<div class="form_padding">
		<button class="au-btn">
			Search
</button>	    
		<div>	    

          </div>
				</div>
			</div>
		</section>
</main>
