---
layout: master
---
	<main>
		<!--CONTENT-->
    <section class="au-body">
			<div class="container-fluid">
				<div class="row">
          <div class="col-sm-8 col-sm-push-4">
                        {{ content }}
        </div>

            <div class="col-sm-4 col-sm-pull-8" id="content">
  						
		    <h2>Search Projects</h2>
		<div class="form_padding">		    
			<label for="text-input-block">Search keyword</label>
			<input class="au-text-input au-text-input--block" name="text-input-block" id="text-input-block" type="text" value="">
		</div>	
		<div class="form_padding">	
				<label for="select1">Phase</label>
				<select id="select1" class="au-select">
				  <option value="">All</option>
				  <option value="1">Explore and develop</option>
				  <option value="2">Create, test and demonstrate value</option>
				  <option value="3">Improve and maintain</option>
				</select>
		</div>
		<div class="form_padding">	
				<label for="select1">Document Type</label>
				<select id="select1" class="au-select">
				  <option value="">All</option>
				<option value="5">Audio recording</option><option value="6">Customer journey map</option><option value="7">Discussion guide</option><option value="8">Insights</option><option value="9">Interview transcript</option><option value="10">Personas</option><option value="11">Research overview</option><option value="12">Research plan</option><option value="13">Service blueprint</option><option value="14">Survey results</option><option value="15">User needs</option><option value="16">Video recording</option>
				</select>
		</div>
		<div class="form_padding">	
				<label for="select1">Department</label>
				<select id="select1" class="au-select">
				  <option value="">All</option>
				  <option value="1">DFSI</option>
				  <option value="2">Education</option>
				  <option value="3">Transport</option>
				</select>
		</div>
		<div class="form_padding">	
				<label for="select1">Date</label>
				<select id="select1" class="au-select">
				  <option value="">All</option>
				  <option value="1">2019</option>
				  <option value="2">2018</option>
				  <option value="3">2017</option>
				</select>
		</div>
		<div class="form_padding">	
				<label class="au-control-input">
  <input class="au-control-input__input" type="checkbox" name="checkbox-ex" checked>
  <span class="au-control-input__text">Only completed projects</span>
</label>
		</div>
		<div class="form_padding">
		<a href="results.html"><button class="au-btn">Search</button></a>	    
		<div>	    

          </div>
				</div>
			</div>
		</section>
</main>
